/*Import font family*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*
dodgerlue color code
#1e90ff
*/

/*Reset browser*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/*Header section*/

.home {
    background:rgba(0, 0, 0);
    height: 100vh;
    position: relative;
}

.home .header-content-wrapper {
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
}

.home .header-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
}

/* for other pages */

.sticky-navbar {
    background: #000000;
    width: 100%;
    position: sticky;
    top: 0;
}

.header-content-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
}
.place-of-work-section {
    background-color: #1e90ff;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Logo*/

.logo {
    font-size: 30px;
    font-weight: bold;
    color: #1e90ff;
}

/*Nav links*/

.navlink {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.5s;
    padding: 10px;
    margin: 10px;
}

.navlink.active {
    color: #1e90ff;
}

/*Hero section*/

.hero-wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}

.hero-wrapper div {
    flex: 1;
    text-align: center;
}

.profile-image {
    width: 91.7%;
}

.full-name {
    color: #ffffff;
    font-size: 35px;
    text-transform: uppercase;
    margin: 20px 0;
}

.brief {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/*Icons*/

.hero-media-wrapper {
    padding: 10px auto;
}

.hero-media-wrapper a {
    text-decoration: none;
}

.hero-media-wrapper svg {
    width: 30px;
    height: 30px;
    fill: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50%;
    padding: 4px;
    margin: 10px;
    transition: 0.5s;
}

/*Buttons*/

.btn {
    background-color: #1e90ff;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 14px;
    border-radius: 20px;
    border: none;
    margin: 10px;
    letter-spacing: 1;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    opacity: 0.8;
}

.download-btn {
    background-color: #ffffff;
    color: #1e90ff;
}

.download-btn:hover {
    opacity: 0.8;
    background-color: #1e90ff;
    color: #ffffff;
}

/*Main bbody content*/

/* .index-main {
    margin-top: 40px;
} */

.section {
    padding: 40px;
}

.section h2 {
    font-size: 30px;
    font-weight: bold;
    color: #1e90ff;
    margin-bottom: 10px 0;
    text-transform: uppercase;
    text-align: center;
}

.about-me {
    margin: 0 auto;
    background-color: #1e90ff;
    padding-bottom: 100px;
}

.about-me div {
    width: 70%;
}

.about-me h2 {
    color: #ffffff;
}

.about-brief {
    text-align: center;
    margin-top: 20px;
    line-height: 2;
    color: #ffffff;
}

/*Currently working at*/

.index-place-of-work-section {
    margin: 40px 0;
    background-color: #1e90ff;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.place-of-work-section h2 {
    color: #ffffff;
}

.place-of-work-wrapper {
    text-align: center;
    margin: 40px 0;
}

.place-of-work-pill {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    margin: 4px;
    border-radius: 26px;
    font-size: 14px;
    transition: 1.5s;
}

/*Project cards*/

.project-section {
    background-color: #1e90ff;
}

.project-section h2 {
    color: #ffffff;
}

.project-card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /*flex-wrap: wrap;*/
    gap: 100px;
    margin-top: 2rem;
}

.project-card {
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.4s;
    border-radius: 5px;
    background-color: #ffffff;
}

.project-card img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.card-content {
    width: 300px;
    padding: 2px 16px;
}

.project-title {
    color: #1e90ff;
    margin-bottom: 10px;
    font-size: 17px;
    text-align: center;
}

.project-brief {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

.project-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.project-links svg {
    width: 20px;
    height: 20px;
    fill: #1e90ff;
}

/*Stack section*/

/* .stacks-section {
    background-color: #1e90ff;
} */

.stack-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
    flex-wrap: wrap;
}

/*for chrome*/

.stack-progress::-webkit-progress-bar {
    background-color: #eeeeee;
    border-radius: 100px;
}
.stack-progress::-webkit-progress-value {
    background-color: #1e90ff;
    border-radius: 100px;
}

/*for firefox*/

.stack-progress::-moz-progress-bar {
    background-color: #eeeeee;
    border-radius: 100px;
}

/*for IE*/
.stack-progress {
    color: #1e90ff;
    border-radius: 100px;
}

.stack-progress-wrapper label {
    display: block;
}

/*Service section*/

.service-section {
    margin: 40px 0;
    min-height: 300px;
    background-color: #1e90ff;
}

.service-section h2 {
    color: #ffffff;
    margin-bottom: 40px;
}

.service-card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.service-card {
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.4s;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-card:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.5);
    background-color: #ffffff;
}

.service-card svg {
    width: 30px;
    height: 30px;
    color: #000000;
    fill: #000000;
    margin-bottom: 20px;
}

.service-card-content {
    text-align: center;
    padding: 2px 16px;
    width: 300px;
}

.service-title {
    color: #1e90ff;
    margin-bottom: 10px;
    font-size: 17px;
}

.service-brief {
    font-size: 14px;
    color: #000000;
}

/*Work with me sectionn*/

.form-section {
    background-color: #1e90ff;
}

.form-section h2,
.form-section label {
    color: #ffffff;
}

.form-section form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
}

.form-group input {
    border: 1px solid #1e90ff;
    border-radius: 5px;
    padding: 10px;
    width: 400px;
    margin-bottom: 10px;
    font-size: 14px;
}

.form-group textarea {
    border: 1px solid #1e90ff;
    border-radius: 5px;
    padding: 10px;
    width: 400px;
    height: 350px;
    resize: none;
    margin-bottom: 10px;
}

.form-group button {
    background-color: #ffffff;
    color: #1e90ff;
    padding: 10px 14px;
    border-radius: 26px;
    font-size: 14px;
    cursor: pointer;
    border: none;
}

/*Social media icons*/

.social-account-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 0px;
}

.social-account-wrapper svg {
    width: 30px;
    height: 30px;
    fill: #1e90ff;
}

.social-account-wrapper svg:hover {
    fill: #000000;
    cursor: pointer;
    position: relative;
    bottom: 10px;
}





